:root {
    --background-sideBar: #2557b0; 
    --text-borders: #e9ec0e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--background-sideBar);
}

header h1 {
    font-weight: bold;
}

header a {
    color: var(--text-borders);
    text-decoration: none;
}



header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 10px 20px;
    font-size: 20px;
  }

header nav ul li a {
      padding: 10px 20px;
}

.hero {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    background-image: url(../images/BeachCropped.jpg);
    background-size: cover; 
    background-position:top;
    margin-bottom: 15px;
}

.subtitle {
      color: var(--text-borders);
      background: var(--background-sideBar);
      padding: 10px 20px;
      margin: 15px 30px;
      font-size: 20px;
      font-weight: bolder;
}

.about-me {
      display: flex;
      flex-wrap: wrap;      
}

.about-me-sidebar {
      flex: 0 1 10%;
      flex-wrap: wrap;
      border-right: 3px solid var(--background-sideBar);
      margin-bottom: 10px;
}

.about-me-text {
    color: var(--background-sideBar);
    font-size: 32px;
    font-weight: bolder;
    text-align: right;
    margin: 0 10px 0 0;
}

.about-me-paragraph {
    display: flex;
    flex: 0 1 85%;
    flex-wrap: wrap;
    margin: 0 0 10px 10px;
}

.about-me-paragraph p {
    padding: 3px;
}

.work {
      display: flex;
}

.work-sidebar {
    flex: 0 1 10%;
    flex-wrap: wrap;
    border-right: 3px solid var(--background-sideBar);
    margin-right: 10px;
}

.work-sidebar-text {
    color: var(--background-sideBar);
    font-size: 32px;
    font-weight: bolder;
    text-align: right;
    margin: 0 10px 0 0; 
}

.main-img {
    height: 440px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url(../images/RunBuddy.jpg);
    background-size: cover;
    border: 5px solid var(--background-sideBar)
}

.main-img-text {
    margin: 0 0 20px 0;
    padding: 10px 10px;
    color: var(--text-borders);
    background-color: var(--background-sideBar);
    font-size: 20px;
    font-weight: bold;
}